In [1]:
##Python package that provides fast, flexible, and expressive data structures
import pandas as pd

In [2]:
## importing csv file for processing
df = pd.read_csv('literacy_rates_indias.csv')
print(df.head())  ## show file first data

            State  Year Gender Age Group Type of Area  Literacy Rate (%)
0  Andhra Pradesh  2000   Male     15-24        Urban              68.73
1  Andhra Pradesh  2000   Male     15-24        Rural              97.54
2  Andhra Pradesh  2000   Male     25-34        Urban              86.60
3  Andhra Pradesh  2000   Male     25-34        Rural              79.93
4  Andhra Pradesh  2000   Male     35-44        Urban              57.80

In [3]:
#cleaning data 
df.dropna()  ##deleting rows contain missing data
df.fillna(0)  ## filling empty cells with zero

               State  Year  Gender Age Group Type of Area  Literacy Rate (%)
0     Andhra Pradesh  2000    Male     15-24        Urban              68.73
1     Andhra Pradesh  2000    Male     15-24        Rural              97.54
2     Andhra Pradesh  2000    Male     25-34        Urban              86.60
3     Andhra Pradesh  2000    Male     25-34        Rural              79.93
4     Andhra Pradesh  2000    Male     35-44        Urban              57.80
...              ...   ...     ...       ...          ...                ...
7815     West Bengal  2022  Female     35-44        Rural              75.80
7816     West Bengal  2022  Female     45-54        Urban              62.67
7817     West Bengal  2022  Female     45-54        Rural              97.03
7818     West Bengal  2022  Female       55+        Urban              95.30
7819     West Bengal  2022  Female       55+        Rural              78.34

[7820 rows x 6 columns]

In [4]:
print(df.info())  ## information about column and data
print(df.describe())  ## basic statistic
print(df.isnull().sum())  ##number of losing variables at columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7820 entries, 0 to 7819
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              7820 non-null   object
 1   Year               7820 non-null   int64
 2   Gender             7820 non-null   object
 3   Age Group          7820 non-null   object
 4   Type of Area       7820 non-null   object
 5   Literacy Rate (%)  7820 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 366.7+ KB
None
              Year  Literacy Rate (%)
count  7820.000000        7820.000000
mean   2011.000000          74.767485
std       6.633674          14.452227
min    2000.000000          50.000000
25%    2005.000000          62.195000
50%    2011.000000          74.735000
75%    2017.000000          87.185000
max    2022.000000          99.990000
State                0
Year                 0
Gender               0
Age Group            0
Type of Area         0
Literacy Rate (%)    0
dtype: int64