In [2]:
##Python package that provides fast, flexible, and expressive data structures
import pandas as pd

In [3]:
## importing csv file for processing
df = pd.read_csv('literacy-rates-indias_cleaned.csv')
print(df.head())  ## show file first data

  State 1  State 2  Year Gender Age Group Type of Area  Literacy Rate (%)
0  Andhra  Pradesh  2000   Male     15-24        Urban              68.73
1  Andhra  Pradesh  2000   Male     15-24        Rural              97.54
2  Andhra  Pradesh  2000   Male     25-34        Urban              86.60
3  Andhra  Pradesh  2000   Male     25-34        Rural              79.93
4  Andhra  Pradesh  2000   Male     35-44        Urban              57.80

In [4]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Save the DataFrame to the database
df.to_sql('literacy_data', conn, index=False)

7820

In [13]:
##5 Split-apply-combine with SQL and pandas
# Define the SQL query
query = """
SELECT 
    `State 2` AS State,
    AVG(`Literacy Rate (%)`) AS Avg_Literacy_Rate,
    MAX(`Literacy Rate (%)`) AS Max_Literacy_Rate,
    COUNT(*) AS Record_Count
FROM 
    literacy_data
GROUP BY 
    `State 2`;
"""

# Execute the query and load the result into a DataFrame
result = pd.read_sql_query(query, conn)

# Display the result
print(result)

     State  Avg_Literacy_Rate  Max_Literacy_Rate  Record_Count
0     None          74.891111              99.98          5520
1   Bengal          73.856630              99.95           460
2     Nadu          74.700457              99.96           460
3  Pradesh          74.598942              99.99          1380